

.email_icons{
    display: flex;
    gap: 1rem;
    padding-left: 5px;

}


.email_message {
    
    flex: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.email_message > h4{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email_message > h4 >span{
    font-weight: normal;
}
.email{
    
    display: flex;
    border-bottom: 1px solid whitesmoke;
    align-items: center;
    flex-direction: row;
    padding: 0.6rem 1.2rem;
    justify-content: space-between;
    cursor: pointer;
}
.email:hover{
    box-shadow: 0px 10px 10px -15px 
}

.email_time{
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}


.email_msgs{
    font-size: 15px;
    display: flex; 
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem; 
    justify-content: space-between;

}
.email_msgs h3 {
    flex: 0.1;
    font-weight: bold;
    font-size: 15px;
}

.email_msgs p {
    flex: 0.1;
}

