.login__page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.login__button{
    cursor: pointer;
    justify-content: center;
    display: flex;
    width: 300px;
    background-color: rgb(0, 162, 232);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    font-size: 18px;
    margin: 0 auto ;

}

.login__logo{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    
}